$bgcolor: #FFFFFF;

.base-input {
  padding: 0.8125em 1.25em;
  font-size: 0.75em;
  border-radius: 0.625em;
  background-color: $bgcolor;
  display: flex;
  gap: 0.6875em;
  align-items: center;

  &:focus-within {
    outline: 0.125em solid blue;
  }

  &__input {
    color: #000000;
    -webkit-appearance: none;
    border: 0;
    background-color: $bgcolor;

    &:focus {
      outline: 0;
    }
    &::placeholder {
      color: #8F9BBA;
    }
  }
}